In [355]:
import numpy
import pandas as pd
import math
import datetime

#allow to change individual cell values
pd.set_option('mode.chained_assignment', None)

data = pd.read_csv("ResumoDataEnsaios.csv", delimiter=";")

In [356]:
data = data.rename(columns={'Data Ensaio': 'Data'})
data = data.drop(columns='Projeto')
data = data.dropna()

In [357]:
#Get day, month, year

data['dia'] = data['Data'].str.slice(stop=2)
data['mes'] = data['Data'].str.slice(start=3, stop=5)
data['ano'] = data['Data'].str.slice(start=6)

data["dia"] = data["dia"].apply(pd.to_numeric)
data["mes"] = data["mes"].apply(pd.to_numeric)
data["ano"] = data["ano"].apply(pd.to_numeric)

In [358]:
#Continuous Julian date with added year

data['dia_juliano'] = 0

for i in range(0,len(data['mes'])):
    data['dia_juliano'][i] = int(datetime.date(data['ano'][i],data['mes'][i],data['dia'][i]).timetuple().tm_yday)

data['dia_juliano'] =  data['dia_juliano'] + (data['ano'] -2017)*365

In [359]:
#Get weekday

data['dia_semana'] = 0

for i in range(0,len(data['ano'])):
    data['dia_semana'][i] = datetime.date(data['ano'][i],
                                      data['mes'][i],
                                      data['dia'][i]).weekday()

In [360]:
#Get periodic variables from cos of linear interpolation


data['per_mes'] = ((data['mes']-1)/(12-1))*(2*math.pi)
data['per_dia'] = ((data['dia']-1)/(31-1))*(2*math.pi)
data['per_dia_semana'] = ((data['dia_semana']-0)/(6-0))*(2*math.pi)
data['per_dia_juliano'] = ((data['dia_juliano']-1)/(365-1))*(2*math.pi)

for i in range(0,len(data['per_mes'])):
    data['per_mes'][i]=math.cos(data['per_mes'][i])

for i in range(0,len(data['per_dia'])):
    data['per_dia'][i]=math.cos(data['per_dia'][i])

for i in range(0,len(data['per_dia_semana'])):
    data['per_dia_semana'][i]=math.cos(data['per_dia_semana'][i])

for i in range(0,len(data['per_dia_juliano'])):
    data['per_dia_juliano'][i]=math.cos(data['per_dia_juliano'][i])

In [361]:
data.head()

,Tipo,Data,Duraçao,dia,mes,ano,dia_juliano,dia_semana,per_mes,per_dia,per_dia_semana,per_dia_juliano
0,CT,17/04/2019,3.0,17,4,2019,837,2,-0.142315,-0.978148,-0.5,-0.289252
1,CT,27/08/2018,3.0,27,8,2018,604,0,-0.654861,0.669131,1.0,-0.553775
2,CT,04/06/2018,3.0,4,6,2018,520,0,-0.959493,0.809017,1.0,-0.893346
3,CT,22/01/2018,3.0,22,1,2018,387,0,1.000000,-0.309017,1.0,0.928756
4,CT,26/03/2018,4.0,26,3,2018,450,0,0.415415,0.500000,1.0,0.103384

In [362]:
data.describe()

,Duraçao,dia,mes,ano,dia_juliano,dia_semana,per_mes,per_dia,per_dia_semana,per_dia_juliano
count,288.000000,288.000000,288.000000,288.000000,288.000000,288.000000,288.000000,288.000000,288.000000,288.000000
mean,2.881944,14.736111,6.548611,2019.107639,952.197917,1.770833,0.166909,0.067368,-0.015625,0.086764
std,0.855371,9.036115,3.676519,1.035373,346.890848,1.463701,0.747168,0.725601,0.825718,0.722563
min,1.000000,1.000000,1.000000,2017.000000,205.000000,0.000000,-0.959493,-1.000000,-1.000000,-0.999404
25%,2.000000,6.750000,3.000000,2018.000000,689.500000,0.000000,-0.654861,-0.669131,-1.000000,-0.626840
50%,3.000000,14.000000,6.000000,2019.000000,962.000000,2.000000,0.415415,0.104528,-0.500000,0.188738
75%,3.000000,23.000000,10.000000,2020.000000,1179.500000,3.000000,0.841254,0.809017,1.000000,0.813056
max,7.000000,31.000000,12.000000,2021.000000,1716.000000,6.000000,1.000000,1.000000,1.000000,0.999404